* {
  box-sizing: border-box;
  font-family: "Outfit",sans-serif;
  font-size: 18px;
}

body {
  background-color: hsl(217, 54%, 11%);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 600px;
  width: 355px;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 15px 20px 20px hsl(225, 50%, 9%);
  padding: 25px;
}

.image_NFT{
  height: 300px;
  width: 300px;
  background-image: url(../image/image-equilibrium.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: hsl(178, 100%, 50%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  transition: .3s ease;
  border-radius: 10px;
}

.view_icon {
  background-image: url(../image/icon-view.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  transition: .3s ease;
}

.image_NFT:hover .overlay {
  cursor: pointer;
  opacity: 0.3;
}

.image_NFT:hover .view_icon {
  opacity: 1;
}

.content {
  color: hsl(215, 51%, 70%);
}

.title {
  font-size: 23px;
  font-weight: 400;
  color: white;
  padding: 20px 0px;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.price_time {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.price {
  color: hsl(178, 100%, 50%);
}

hr {
  height: 1px;
  border: none;
  background-color: hsl(215, 51%, 70%);
}

.creator {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 20px;
}

.creator_image {
  height: 35px;
  width: 35px;
  border: solid white 1px;
  border-radius: 25px;
}

a {
  color: white;
}

a:hover {
  color: hsl(178, 100%, 50%);
}